EDI3.0/XMLMAPPINGS/SHP_Lac/inventory.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="inventory_adjustment">
    <xs:complexType>
	   <xs:sequence>
        <xs:element name="inventory_item_id" type="xs:string" />
        <xs:element name="location_id" type="xs:string" />
        <xs:element name="available" type="xs:integer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>