EDI3.0/XMLMAPPINGS/SHP_Taj01/order.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="order">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:string" />
				<xs:element name="email" type="xs:string" nillable="true" />
				<xs:element name="closed-at" type="xs:string"  nillable="true" minOccurs="0"/>
				<xs:element name="created-at" type="xs:dateTime"  nillable="true" />
				<xs:element name="updated-at" type="xs:dateTime"  nillable="true" />
				<xs:element name="number" type="xs:integer"  nillable="true" />
				<xs:element name="note" type="xs:string" nillable="true" />
				<xs:element name="token" type="xs:string"  nillable="true" />
				<xs:element name="gateway" type="xs:string"  nillable="true" />
				<xs:element name="test" type="xs:boolean"  nillable="true" />
				<xs:element name="total-price" type="xs:decimal" default="0" />
				<xs:element name="subtotal-price" type="xs:decimal" default="0" />
				<xs:element name="total-weight" type="xs:integer"  nillable="true" />
				<xs:element name="total-tax" type="xs:decimal" default="0" />
				<xs:element name="taxes-included" type="xs:boolean"  nillable="true" />
				<xs:element name="currency" type="xs:string"  nillable="true" />
				<xs:element name="financial-status" type="xs:string"  nillable="true" />
				<xs:element name="confirmed" type="xs:boolean"  nillable="true" />
				<xs:element name="total-discounts" type="xs:decimal" default="0" />
				<xs:element name="total-line-items-price" type="xs:decimal" default="0" />
				<xs:element name="cart-token" type="xs:string"  nillable="true" />
				<xs:element name="buyer-accepts-marketing" type="xs:boolean" />
				<xs:element name="name" type="xs:string"  nillable="true" />
				<xs:element name="referring-site" type="xs:string"  nillable="true" />
				<xs:element name="landing-site" type="xs:string"  nillable="true" />
				<xs:element name="cancelled-at" type="xs:string" nillable="true"/>
				<xs:element name="cancel-reason" type="xs:string"  nillable="true"/>
				<xs:element name="total-price-usd" type="xs:decimal" default="0" />
				<xs:element name="checkout-token" type="xs:string"  nillable="true" />
				<xs:element name="reference" type="xs:string"  nillable="true" />
				<xs:element name="user-id" type="xs:string"  nillable="true" />
				<xs:element name="location-id-" type="xs:integer" default="0" />
				<xs:element name="source-identifier" type="xs:string"  nillable="true" />
				<xs:element name="source-url"  type="xs:string"  nillable="true" />
				<xs:element name="processed-at" type="xs:dateTime"  nillable="true" />
				<xs:element name="device-id"  type="xs:string"  nillable="true" />
				<xs:element name="phone" type="xs:string" nillable="true" />
				<xs:element name="customer-locale" type="xs:string"  nillable="true" />
				<xs:element name="app-id" type="xs:integer"  nillable="true" />
				<xs:element name="browser-ip" type="xs:string"  nillable="true" />
				<xs:element name="landing-site-ref" type="xs:string" nillable="true" />
				<xs:element name="order-number" type="xs:integer"  nillable="true" />
				<xs:element name="payment-gateway-name" type="xs:string"  nillable="true" />
				<xs:element name="processing-method" type="xs:string"  nillable="true" />
				<xs:element name="checkout-id" type="xs:string"  nillable="true" />
				<xs:element name="source-name" type="xs:string"  nillable="true" />
				<xs:element name="fulfillment-status" type="xs:string"  nillable="true" />
				<xs:element name="tags" type="xs:string"  nillable="true" />
				<xs:element name="contact-email" type="xs:string"  nillable="true" />
				<xs:element name="order-status-url" type="xs:string"  nillable="true" />
				<xs:element name="presentment-currency" type="xs:string"  nillable="true" />
				<xs:element name="total-tip-received" type="xs:decimal" default="0" />

				<xs:element name="original-total-duties-set"  nillable="true" >
					<xs:complexType>
						<xs:sequence>
							<xs:element name="shop-money">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="amount" type="xs:decimal" default="0" />
										<xs:element name="currency-code" type="xs:string"  nillable="true" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="presentment-money">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="amount" type="xs:decimal" default="0" />
										<xs:element name="currency-code" type="xs:string"  nillable="true" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="current-total-duties-set">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="shop-money">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="amount" type="xs:decimal" default="0" />
										<xs:element name="currency-code" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="presentment-money">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="amount" type="xs:decimal" default="0" />
										<xs:element name="currency-code" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="admin-graphql-api-id" type="xs:string"  nillable="true" />

				<xs:element name="discount-application">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="type" type="xs:string"  nillable="true" />
							<xs:element name="value" type="xs:decimal" default="0" />
							<xs:element name="value-type" type="xs:string"  nillable="true" />
							<xs:element name="allocation-method" type="xs:string"  nillable="true" />
							<xs:element name="target-selection" type="xs:string"  nillable="true" />
							<xs:element name="target-type" type="xs:string"  nillable="true" />
							<xs:element name="description"  type="xs:string" nillable="true" />
							<xs:element name="title"  type="xs:string" nillable="true" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="note-attribute"  nillable="true" >
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string"  nillable="true" />
							<xs:element name="value" type="xs:string" nillable="true"  />
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="tax-line" nillable="true" >
					<xs:complexType>
						<xs:sequence>
							<xs:element name="price" type="xs:decimal" default="0" />
							<xs:element name="rate" type="xs:decimal" default="0" />
							<xs:element name="title" type="xs:string" />
							<xs:element name="price-set">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="shop-money">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="amount" type="xs:decimal" default="0" />
													<xs:element name="currency-code" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="presentment-money">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="amount" type="xs:decimal" default="0" />
													<xs:element name="currency-code" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="total-line-items-price-set">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="shop-money">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="amount" type="xs:decimal" default="0" />
										<xs:element name="currency-code" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="presentment-money">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="amount" type="xs:decimal" default="0" />
										<xs:element name="currency-code" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="total-discounts-set">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="shop-money">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="amount" type="xs:decimal" default="0" />
										<xs:element name="currency-code" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="presentment-money">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="amount" type="xs:decimal" default="0" />
										<xs:element name="currency-code" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="total-shipping-price-set">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="shop-money">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="amount" type="xs:decimal" default="0" />
										<xs:element name="currency-code" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="presentment-money">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="amount" type="xs:decimal" default="0" />
										<xs:element name="currency-code" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="subtotal-price-set">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="shop-money">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="amount" type="xs:decimal" default="0" />
										<xs:element name="currency-code" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="presentment-money">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="amount" type="xs:decimal" default="0" />
										<xs:element name="currency-code" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="total-price-set">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="shop-money">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="amount" type="xs:decimal" default="0" />
										<xs:element name="currency-code" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="presentment-money">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="amount" type="xs:decimal" default="0" />
										<xs:element name="currency-code" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="total-tax-set">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="shop-money">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="amount" type="xs:decimal" default="0" />
										<xs:element name="currency-code" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="presentment-money">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="amount" type="xs:decimal" default="0" />
										<xs:element name="currency-code" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="line-item">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" type="xs:string" />
							<xs:element name="variant-id" type="xs:string" />
							<xs:element name="title" type="xs:string" />
							<xs:element name="quantity" type="xs:string" />
							<xs:element name="sku" type="xs:string" />
							<xs:element name="variant-title" type="xs:string"/>
							<xs:element name="vendor" type="xs:string" />
							<xs:element name="fulfillment-service" type="xs:string" />
							<xs:element name="product-id" type="xs:string" />
							<xs:element name="requires-shipping" type="xs:boolean" />
							<xs:element name="taxable" type="xs:boolean" />
							<xs:element name="gift-card" type="xs:boolean" />
							<xs:element name="name" type="xs:string" />
							<xs:element name="variant-inventory-management" type="xs:string" />
							<xs:element name="product-exists" type="xs:boolean" />
							<xs:element name="fulfillable-quantity" type="xs:string" />
							<xs:element name="grams" type="xs:string" />
							<xs:element name="price" type="xs:decimal" default="0" />
							<xs:element name="total-discount" type="xs:decimal" default="0" />
							<xs:element name="fulfillment-status" type="xs:string" />
							<xs:element name="price-set">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="shop-money">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="amount" type="xs:decimal" default="0" />
													<xs:element name="currency-code" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="presentment-money">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="amount" type="xs:decimal" default="0" />
													<xs:element name="currency-code" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="total-discount-set">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="shop-money">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="amount" type="xs:decimal" default="0" />
													<xs:element name="currency-code" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="presentment-money">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="amount" type="xs:decimal" default="0" />
													<xs:element name="currency-code" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="discount-allocation">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="amount" type="xs:decimal" default="0" />
										<xs:element name="discount-application-index" type="xs:string" />
										<xs:element name="amount-set">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="shop-money">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="amount" type="xs:decimal" default="0" />
																<xs:element name="currency-code" type="xs:string" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="presentment-money">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="amount" type="xs:decimal" default="0" />
																<xs:element name="currency-code" type="xs:string" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="admin-graphql-api-id" type="xs:string" />
							<xs:element name="tax-line">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="title" type="xs:string" />
										<xs:element name="price" type="xs:decimal" default="0" />
										<xs:element name="rate" type="xs:decimal" default="0" />
										<xs:element name="price-set">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="shop-money">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="amount" type="xs:decimal" default="0" />
																<xs:element name="currency-code" type="xs:string" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="presentment-money">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="amount" type="xs:decimal" default="0" />
																<xs:element name="currency-code" type="xs:string" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="origin-location">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" type="xs:string" />
										<xs:element name="country-code" type="xs:string" />
										<xs:element name="province-code" type="xs:string" />
										<xs:element name="name" type="xs:string" />
										<xs:element name="address1" type="xs:string" />
										<xs:element name="address2" type="xs:string" />
										<xs:element name="city" type="xs:string" />
										<xs:element name="zip" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="destination-location">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" type="xs:string" />
										<xs:element name="country-code" type="xs:string" />
										<xs:element name="province-code" type="xs:string" />
										<xs:element name="name" type="xs:string" />
										<xs:element name="address1" type="xs:string" />
										<xs:element name="address2" type="xs:string" />
										<xs:element name="city" type="xs:string" />
										<xs:element name="zip" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="fulfillment">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" type="xs:string" />
							<xs:element name="order-id" type="xs:string" />
							<xs:element name="status" type="xs:string" />
							<xs:element name="created-at" type="xs:dateTime" />
							<xs:element name="service" type="xs:string" />
							<xs:element name="updated-at" type="xs:dateTime" />
							<xs:element name="tracking-company" type="xs:string" />
							<xs:element name="shipment-status" type="xs:string" />
							<xs:element name="location-id" type="xs:string" />
							<xs:element maxOccurs="unbounded" name="tracking-number" type="xs:string" />
							<xs:element maxOccurs="unbounded" name="tracking-url" type="xs:string" />
							<xs:element name="receipt" type="xs:string"  />
							<xs:element name="name" type="xs:string" />
							<xs:element name="admin-graphql-api-id" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="shipping-line">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" type="xs:string" />
							<xs:element name="title" type="xs:string" />
							<xs:element name="price" type="xs:decimal" default="0" />
							<xs:element name="code" type="xs:string" />
							<xs:element name="source" type="xs:string" />
							<xs:element name="phone" type="xs:string"/>
							<xs:element name="requested-fulfillment-service-id"  type="xs:string"/>
							<xs:element name="delivery-category" type="xs:string" />
							<xs:element name="carrier-identifier"  type="xs:string" />
							<xs:element name="discounted-price" type="xs:decimal" default="0" />
							<xs:element name="price-set">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="shop-money">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="amount" type="xs:decimal" default="0" />
													<xs:element name="currency-code" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="presentment-money">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="amount" type="xs:decimal" default="0" />
													<xs:element name="currency-code" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="discounted-price-set">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="shop-money">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="amount" type="xs:decimal" default="0" />
													<xs:element name="currency-code" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="presentment-money">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="amount" type="xs:decimal" default="0" />
													<xs:element name="currency-code" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="billing-address">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="first-name" type="xs:string" />
							<xs:element name="address1" type="xs:string" />
							<xs:element name="phone" type="xs:string"  />
							<xs:element name="city" type="xs:string" />
							<xs:element name="zip" type="xs:string" />
							<xs:element name="province" type="xs:string" />
							<xs:element name="country" type="xs:string" />
							<xs:element name="last-name" type="xs:string" />
							<xs:element name="address2"  type="xs:string"/>
							<xs:element name="company"  type="xs:string"/>
							<xs:element name="latitude" type="xs:string" default="0" />
							<xs:element name="longitude" type="xs:string" default="0" />
							<xs:element name="name" type="xs:string" />
							<xs:element name="country-code" type="xs:string" />
							<xs:element name="province-code" type="xs:string" />
						</xs:sequence>
						<xs:attribute name="type" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="shipping-address">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="first-name" type="xs:string" />
							<xs:element name="address1" type="xs:string" />
							<xs:element name="phone" type="xs:string" />
							<xs:element name="city" type="xs:string" />
							<xs:element name="zip" type="xs:string" />
							<xs:element name="province" type="xs:string" />
							<xs:element name="country" type="xs:string" />
							<xs:element name="last-name" type="xs:string" />
							<xs:element name="address2" type="xs:string" />
							<xs:element name="company"  type="xs:string"/>
							<xs:element name="latitude" type="xs:string" default="0" />
							<xs:element name="longitude" type="xs:string" default="0" />
							<xs:element name="name" type="xs:string" />
							<xs:element name="country-code" type="xs:string" />
							<xs:element name="province-code" type="xs:string" />
						</xs:sequence>
						<xs:attribute name="type" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="client-details">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="browser-ip" type="xs:string" />
							<xs:element name="accept-language" type="xs:string" />
							<xs:element name="user-agent" type="xs:string" />
							<xs:element name="session-hash" type="xs:string" />
							<xs:element name="browser-width"  type="xs:string"/>
							<xs:element name="browser-height"  type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="payment-details">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="credit-card-bin" type="xs:string" />
							<xs:element name="avs-result-code" type="xs:string" />
							<xs:element name="cvv-result-code" type="xs:string"/>
							<xs:element name="credit-card-number" type="xs:string" />
							<xs:element name="credit-card-company" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="customer">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" type="xs:string" />
							<xs:element name="email" type="xs:string" />
							<xs:element name="accepts-marketing" type="xs:boolean" />
							<xs:element name="created-at" type="xs:dateTime" />
							<xs:element name="updated-at" type="xs:dateTime" />
							<xs:element name="first-name" type="xs:string" />
							<xs:element name="last-name" type="xs:string" />
							<xs:element name="orders-count" type="xs:string" />
							<xs:element name="state" type="xs:string" />
							<xs:element name="total-spent" type="xs:decimal" default="0" />
							<xs:element name="last-order-id" type="xs:string" />
							<xs:element name="note" type="xs:string"/>
							<xs:element name="verified-email" type="xs:boolean" />
							<xs:element name="multipass-identifier" type="xs:string"  />
							<xs:element name="tax-exempt" type="xs:boolean" />
							<xs:element name="phone" type="xs:string"  />
							<xs:element name="tags" type="xs:string"  />
							<xs:element name="last-order-name" type="xs:string" />
							<xs:element name="currency" type="xs:string" />
							<xs:element name="accepts-marketing-updated-at" type="xs:dateTime" />
							<xs:element name="marketing-opt-in-level" type="xs:string" />
							<xs:element name="admin-graphql-api-id" type="xs:string" />
							<xs:element name="default-address">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" type="xs:string" />
										<xs:element name="customer-id" type="xs:string" />
										<xs:element name="first-name" type="xs:string" />
										<xs:element name="last-name" type="xs:string" />
										<xs:element name="company" type="xs:string" />
										<xs:element name="address1" type="xs:string" />
										<xs:element name="address2" type="xs:string" />
										<xs:element name="city" type="xs:string" />
										<xs:element name="province" type="xs:string" />
										<xs:element name="country" type="xs:string" />
										<xs:element name="zip" type="xs:string" />
										<xs:element name="phone" type="xs:string" />
										<xs:element name="name" type="xs:string" />
										<xs:element name="province-code" type="xs:string" />
										<xs:element name="country-code" type="xs:string" />
										<xs:element name="country-name" type="xs:string" />
										<xs:element name="default" type="xs:boolean" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>