EDI3.0/XMLMAPPINGS/SHP_STC10/orderfulfillment.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="fulfillments">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="fulfillment">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="location_id" nillable="true"/>
              <xs:element type="xs:string" name="tracking_number" nillable="true"/>
              <xs:element type="xs:string" name="tracking_company" nillable="true"/>
              <xs:element type="xs:string" name="notify_customer" nillable="true"/>
              <xs:element type="xs:string" name="order_id" nillable="true"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>